* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     /*background: blueviolet*/
     background: url(https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4);
 }

 h1 {
     font-family:fantasy;
     letter-spacing: 3px;
     margin-bottom: 16px;
     text-decoration: solid;
     color: rgb(94, 24, 185);
     text-decoration-line: underline;
     
 }

 .header {
     background: -moz-linear-gradient(90deg, rgb(255, 136, 0)
     0%,
     rgb(251, 255, 0) 60%,
     rgb( 136, 255, 0) 100%);;
     padding: 30px 40px ;
     color: tomato;
     text-align: center;
 }

 .addBtn {
     width: 30px;
     padding: 10px;
     background: red;
     color: rgb(20, 126, 6);
     text-align: left;
     font-size: 15px;
     cursor: pointer;
     transition: 0.4s;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
 }

 .addbtn:hover {
     background-color: rgb(255, 255, 255);
     color: black;
 }

 input {
     width: 90px;
     margin-right: 0;
     padding: 10px;
     border: none;
     font-size: 14px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: black;
 }

 ul {
     margin: 0px;
     padding: 50px;

 }
 
 ul li {
     cursor: pointer;
     position: relative;
     padding: 12px 8px 12px 20px;
     list-style-type: square;
     background: white;
     font-size: 14px;
     transition: 0.2s;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     list-style-position: inside;

   /* make the list items unslecteable */
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 ul li:nth-child(odd){
     background: rgb(196, 196, 196);
     color: rgb(0, 0, 0,);
 }
 ul li:hover {
     background: rgb(0, 89, 255);
     color: rgb(248, 240, 240);
 }

.close {
    position:absolute;
    right: 0;
    left: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: black;
    color: white;
}